@font-face {
    font-family: 'SF Pro Display';
    src: url("../../fonts/woff2/SFProDisplay-Regular.woff2") format('woff2'),
        url('../../fonts/woff/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/woff2/SFProDisplay-Medium.woff2') format('woff2'),
        url('../../fonts/woff/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
