.BoxModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &__content {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 24px;
      color: white;
      padding: 0;
      margin: 0;

      &:hover {
        color: red;
      }
    }

    &__close-icon {
      display: block;
    }

    
    
  }
  &__progress-bar {
    height: 10px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    &__fill {
      height: 100%;
      background-color: #868686;border-radius: 5px;
    }
  }
  &__btn-next{
    background-color: #0379FF;
    border: none;
    border-radius: .375rem;
    width: 174px;
    height: 41px;
  }
  &__text-next{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.32px;
    color: white;
  }
  &__btn-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__icon{
    width: 21.97px;
    height: 21.97px;
  }
  &__header{
    margin-bottom: 193px;
  }
}
