.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-grey;
    height: 3rem;
    width: 80%;
    border-radius: 6px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .search-bar input[type="text"] {
    background-color: $light-grey;
    border-radius: 0.375rem;
    border-color: transparent;
    height: 2.75rem;
    font-size: 17px;
    width: 295px;
    background: url("../../assets/images/Search.png") no-repeat 10px center;
    &::placeholder{
      padding-left: 3rem;
    }
}
  
  .avatar img {
    height: 2.0625rem;
    width: 2.0625rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  